
<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://leetcode.com/u/LalitKumarSahu/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/LeetCode_logo_black.png" 
             alt="LeetCode"width="30" height="30" >
    </a> &nbsp; &nbsp;&nbsp;
      <a href="https://www.facebook.com/share/18mPpHCstf/"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/lalit_coder_life?utm_source=qr&igsh=amIxejI1d2Zwa3E4"> <i class="fa-brands fa-instagram"></i></a>
     
      <a href="https://www.linkedin.com/in/lalit-sahu-45788725a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brands"> &copy; Wanderlust Private limited</div>
    <div class="f-info-links">
  <a href="/privacy">Privacy</a> &nbsp;&nbsp;
  <a href="/privacy">Terms</a>
  
    </div>
  </div>
</footer>